<!DOCTYPE "html">
<html lang="en">
    <title>Thank You</title>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>Thank you for Signing-Up {{name | safe}} {{fname |safe}}</h1>
            <div class="thanks">
                <p>We'll start digging for you right away. Tomorrow morning at 10:00 am you'll get the articles from us at:</p>
                <p class="mail">{{e_mail |safe}}</p>
                <p>Have an amazing Day!</p>
            </div>
    </body>
</html>