<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static_original/main.css">
    <title>Flatmate App</title>
</head>
<body>
    <form>
        <div class="firstdiv">
            <label for="amount">Bill Amount: </label>
            <input type="number" id="amount" required><br><br>
            <label for="period">Bill Period: </label>
            <input type="month"  id="period" required>
        </div><br><br>
        <div class="seconddiv">
            <h2>First Flatmate</h2>
            <label for="name">Name: </label>
            <input id="name" required><br><br>
            <label for="days">Days spent: </label>
            <input id="days" required>
        </div><br><br>
        <div class="thirddiv">
            <h2>Second Flatmate</h2>
            <label for="name">Name: </label>
            <input id="name" required><br><br>
            <label for="days">Days spent: </label>
            <input id="days" required>
        </div><br><br>
        <div class="button">
            <button type="submit">Calculate</button>
        </div>
    </form>
</body>
</html>